# Rename this file to .env and fill in your SMTP credentials
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=gansh3764@gmail.com
EMAIL_PASS=oijn eggz dmqy txhp
EMAIL_FROM="MFOLKS Website <gansh3764@gmail.com>"
