# Rename this file to .env and fill in your SMTP credentials
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=YOUR EMAIL
EMAIL_PASS=Email password
EMAIL_FROM="something like this <your email>"
